
/*Header*/

header {
	background-color: rgba(216, 216, 216, 0.7);
}
.top-margin {
	margin-top: 5%;
}

.address-margin {
	margin-top: 15%
}


/*Body*/

.overflow {
	height: 300px;
  overflow: auto;
}

#link {
	color: #D8D8D8 ;
	text-decoration: none;
}

body h1, h2, h3, h4, h5, h6 {
    font-family: 'ApexNew-Book';
    color: #00000;
}

li a {
	font-family: 'ApexNew-Book';
	color: #504746;
}

p {
	font-family: 'ApexNew-Book';
	font-size: 18px;
    color: #00000;
}

a {
	font-family: 'ApexNew-Book';
	text-decoration: none;
}

/*Colors*/

.main-color {
	color: #E29968;
	text-transform: uppercase;
}
.content-color {
	color: #D8D8D8;
	text-align: justify;
}

.project-color {
	color: #D8D8D8;
	text-transform: uppercase;
}
.project-other {
	color: #736865;
	text-transform: uppercase;
}

/*Footer*/

footer {
	position: absolute; 
	bottom: 0; 
	width: 100%
	}

#nav-settings {
	background-color: rgba(216,216,216,0.7); 
	border-radius: 0px; 
	min-height: 30px
}

#nav-style {
	padding: 10px; 
	background-color: transparent; 
	color:#504746;
}

#nav-social {
	padding: 10px; background-color: transparent; color:#BB7F56;
}

#upper {
	text-transform: uppercase;
	font-family: 'ITC Berkeley Oldstyle Std'
}


/*Mobile Settings*/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

	#nav-settings {
  background-color: rgba(216,216,216,1);
  border-radius: 0px;
  min-height: 30px;
  text-align: center;
	}

	header {
  background-color: rgba(216, 216, 216, 1);
  padding-top: 10px;
  }

  .cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
	}

	.overflow {
	height: 250px;
  overflow: auto;
}
}



