/*Header*/
header {
  background-color: rgba(216, 216, 216, 0.6);
  padding: 18px;
}
#logo-img {
  width: 281px;
}
.top-margin {
  margin-top: 5%;
}
.address-margin {
  margin-top: 15%;
}
/*Body*/
.overflow {
  height: 300px;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0.2em;
  height: 2em;
}
::-webkit-scrollbar-button {
  background: #cccccc;
}
::-webkit-scrollbar-track-piece {
  background: #888888;
}
::-webkit-scrollbar-thumb {
  background: #eeeeee;
}
#link {
  color: #D8D8D8 ;
  text-decoration: none;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ApexNew-Book';
  color: #00000;
}
.title {
  font-size: 40px;
}
.menu {
  font-size: 18px;
}
.margin {
  margin-left: 20px;
}
li a {
  font-family: 'ApexNew-Book';
  color: #504746;
}
#tighten {
  margin-left: -10px;
}
#arrow-left {
  width: 50px;
}
#arrow-right {
  width: 50px;
  /*margin-left: 50%; */
  position: absolute;
  right: 3%;
}
p {
  font-family: 'ApexNew-Book';
  font-size: 21px;
  color: #00000;
}
a {
  font-family: 'ApexNew-Book';
  text-decoration: none;
}
/*Colors*/
.main-color {
  color: #E29968;
  text-transform: uppercase;
}
.content-color {
  color: #D8D8D8;
  text-align: left;
}
.project-color {
  color: #D8D8D8;
  text-transform: uppercase;
}
.project-other {
  color: #736865;
  text-transform: uppercase;
}
/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#nav-settings {
  background-color: rgba(216, 216, 216, 0.6);
  border-radius: 0px;
  min-height: 30px;
  height: 37px;
}
#nav-style {
  padding: 10px;
  background-color: transparent;
  color: #504746;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
#nav-style:hover {
  padding: 10px;
  background-color: transparent;
  color: #504746;
  border-bottom-color: #E29968;
  padding-bottom: 0px;
}
#nav-social {
  padding: 10px;
  background-color: transparent;
  color: #BB7F56;
}
#nav-social-bis {
  padding: 10px;
  background-color: transparent;
  color: #BB7F56;
  margin-left: -10px;
}
#upper {
  text-transform: uppercase;
  font-family: 'ITC Berkeley Oldstyle Std';
}
/*Contact Page*/
.contact-text {
  font-size: 14px;
}
.input-size {
  width: 80%;
  background-color: rgba(216, 216, 216, 0.6);
  border: none;
  margin-top: 14px;
}
::-webkit-input-placeholder {
  color: #D8D8D8;
  font-family: 'ApexNew-Book';
  padding-left: 5px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #D8D8D8;
  font-family: 'ApexNew-Book';
  padding-left: 5px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #D8D8D8;
  font-family: 'ApexNew-Book';
  padding-left: 5px;
}
:-ms-input-placeholder {
  color: #D8D8D8;
  font-family: 'ApexNew-Book';
  padding-left: 5px;
}
.submit-size {
  width: 70px;
  margin-top: 8px;
  font-family: 'ApexNew-Book';
  text-transform: uppercase;
  background-color: rgba(216, 216, 216, 0.6);
  border: none;
  color: #D8D8D8;
  padding-left: 5px;
}
form {
  margin-top: -10px;
}
/*Mobile Settings*/
@media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
  p {
    font-family: 'ApexNew-Book';
    font-size: 16px;
    color: #000000;
  }
  #menu {
    background:url('../images/menu.png');
    background-size: cover;
    position: fixed;
    top: 58px;
    right: 0;
    left: 0;
    min-height: 100%;
    padding-top: 10px;
    border: none;
  }
  .project-down {
    left: 2%;
    padding: 2px;
  }
  .service-down {
    left: 2%;
    padding: 2px;
  }
  .title {
    font-size: 25px;
  }
  .nav-settings {
    background-color: #d8d8d8;
    border-radius: 0px;
    min-height: 30px;
    text-align: center;
  }
  #nav-style-mob {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 10px;
    background-color: transparent;
    color: #d8d8d8;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  #nav-style-mob:hover {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 12px;
    background-color: transparent;
    color: #d8d8d8;
    border-bottom: 2px solid #BB7F56; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
    display: table;
    padding-bottom: 0px;
  }
  #nav-style:focus {
    padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 12px;
    background-color: transparent;
    color: #d8d8d8;
    text-decoration: underline;
    /*// border-bottom-color: #E29968;*/
    padding-bottom: 0px;
  }
  #nav-style-item {
    display: table;
    padding: 2px;
    background-color: transparent;
    color: #d8d8d8;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  #nav-style-item:hover {
    display: table;
    padding: 2px;
    background-color: transparent;
    color: #d8d8d8;
    border-bottom: 2px solid #BB7F56; 
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
    
  }
  #nav-social {
    padding: 10px;
    background-color: transparent;
    color: #BB7F56;
  }
  #nav-social-bis {
    padding: 10px;
    background-color: transparent;
    color: #BB7F56;
    margin-left: -10px;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 6px 20px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  header {
    background-color: #d8d8d8;
    opacity: 0.6;
    padding: 2px;
  }
  #logo-img {
    width: 250px;
  }
  footer {
    z-index: 0;
  }
  .cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
  }
  .cbp-bicontrols {
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0px 0 0 0px;
    top: 82%;
    /*// left: 50%;*/
  }
  #arrow-right {
    width: 50px;
    margin-left: 30%;
  }
  .overflow-bis {
    height: 300px;
    overflow: auto;
  }
  .overflow {
    height: 250px;
    overflow: auto;
  }
  .js div#preloader-welcome {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000000 url('../images/mobile-back.gif') no-repeat center center;
    background-size: 100%;
  }
  .bouton {
    background-color: rgba(216, 216, 216, 0.6);
    border: none;
  }
  .mobile-menu {
    margin: 8px 0 0px;
  }
}
/*Desktop < Mackbook Pro*/
@media only screen and (max-width: 1300px) {
  .top-margin {
    margin-top: 0%;
  }
  .contact-text {
    font-size: 14px;
  }
  .nav-settings {
    margin-bottom: 5px;
  }
}
